<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>moving</display-name>
  <welcome-file-list>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>com.koreait.app.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MovieFrontController</servlet-name>
  	<servlet-class>com.koreait.app.movie.MovieFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MovieFrontController</servlet-name>
  	<url-pattern>*.mo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>IndexFrontController</servlet-name>
  	<servlet-class>com.koreait.index.IndexFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexFrontController</servlet-name>
  	<url-pattern>*.ho</url-pattern>
  </servlet-mapping>
</web-app>








