
    html,header,head{
        width: 100%;
        height: 100%;
    }
    
#header{
    height: 76px;
    max-height: 100%;
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 1248px;
    max-width: 100%;
    top: 0;
    z-index: 10001;
    background-color: #212121;
    box-sizing: border-box;
}

#logo{
    width: 7%;
    height: 100%;
    margin-left: 30px;
    align-items: center;
}
#logos{
    margin-top: 15px;
    width: 100%;
}

#search{
    display: flex;
    position: relative;
    width: 82%;
    flex-grow: 2;
    justify-content: center;
}
#search > span{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search > span > input:nth-child(1){
    width: 30%;
    height: 50%;
}
#magnifying{
    width: 2%;
    height: 35%;
    background: url(./images/magnifying-removebg-preview.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 35%;
}
#login{
    display: flex;
    position: relative;
    width: 10%;
    line-height: 35px;
}
#login_a{
    background-color: #363636;
    color: white;
    height: 36px;
    padding: 0 20px;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 13px;
    text-decoration: none;
    box-sizing: border-box;
    
}
#login_a > span{
    font-weight: bold;
}
#search_what{
    position: relative;
}
input::placeholder{
    color: #363636;
    font-size: 14px;
    font-weight: bold;

}
input{
    background-color: black;
    color: white;
    border: none;
}