@charset "utf-8";
body { padding: 50px;}
.h2 { 
    padding: 20px 0 10px 20px; 
    font-size: 17px; 
    color: #222; 
    line-height: 100%;
}
.agree { border: 1px solid #e6e6e6;}
.agree > div { 
    overflow: auto; 
    height: 124px; 
    padding: 24px 19px; 
    font-size: 13px; 
    color: #555; 
    line-height: 16px;
}
.agree > p { 
    height: 43px; 
    background:#f8f8f8; 
    border-top: 1px solid #e6e6e6; 
    line-height: 43px; 
    font-size: 13px; 
    color: #222; 
    text-indent: 19px;
}
.next{
    display: block;
    
    margin: 0 auto;
}