@charset "UTF-8";

body{
    background-color: black;
    color: white;
}
table{
    width: 1000px;
    margin: 0 auto;
}
.td{
    width: 100px;
    text-align: center;
    background-color: #212121;
    padding: 10px;
}
#tables, .tr, .td{
	border: 1px solid white;
}
.td_text{
    width: 150px;
    padding: 5px;
}
.btns{
	width: 100px;
	height: 40px;
	border-radius : 7px;
	background-color:red;
	color : white;
	text-decoration:none;
	line-height: 40px;
}
.btns:hover{
	background-color: #D01212;
	text-decoration:none;
	color : white;
}
#rights{
	display: flex;
	justify-content : flex-end;
}
.upcolor{
	color : black;
}
.upsize{
	width: 300px;
}