@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

/*
	Helios by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	h2{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

 span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}


ol, ul {
	list-style: none;
}

#movie, #i, #but, .right_area, #totlaview, #moviecontent, #nextmovie_word, #nextmovie,
#reel{
		margin: 0;
	font-size: 15pt;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans serif;
	
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
#hey{
	font-weight: bold;
}
#heyhey{
   text-align: left;
   font-weight: bold;
   color: #fff;
}
#heyhey:hover{
	color: red;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

#movie {
    margin: 90px 0 auto;
    width: auto;
    height: 500px;
    /* border: solid 1px rgb(233, 225, 225) ; */
}

#moviecontent {
    margin: 3px;
    width: auto;
    height: 350px;
    /* border: solid 1px rgb(109, 3, 3) ; */
}
a{
   text-decoration:none; color:inherit; cursor: pointer;
 }
  .right_area .icon{
     display: flex;
     /* align-items: center; */
     justify-content: center;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     margin: 10px;
 }
 .icon.heart img{
     width: 30px;
     height: 30px;
 }
 .heart.active img{
     animation: animateHeart .5s linear forwards;
 }
 
 @keyframes animateHeart{
     0%{transform:scale(.2);}
     40%{transform:scale(1.2);}
     100%{transform:scale(1);}
   }
   #but .like{
      display: flex;
      /* align-items: center; */
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 10px;
  }
  .like img{
      width: 35px;
      height: 35px;
  }
  .heart.active img{
      animation: animateHeart .5s linear forwards;
  }
  
  @keyframes animateHeart{
      0%{transform:scale(.2);}
      40%{transform:scale(1.2);}
      100%{transform:scale(1);}
    }
#a{
   text-align: left;
   color: #fff;
}
.fuck{
	z-index: 4000;
}
#but{
   /* border: solid 1px rgb(255, 255, 255) ; */
   width: 7%;
   height: 75px;
   float: left;
}
#i{
   margin: 0 0 0 10px;
   /* border: solid 1px rgb(255, 255, 255) ; */
   width: 100%;
   height: 75px;
   float: left;
}
.right_area{
   /* border: solid 1px rgb(255, 255, 255) ; */
   width: 30%;
   height: 75px;
   float: left;
}
#nextmovie {
    margin: 0 auto;
    width: auto;
    height: 570px;
    /* border: solid 1px rgb(226, 23, 23) ; */
}
#nextmovie_word{
	margin-top: 40px;
	margin-left: 40px;
}
#nextmovie_word > p{
	font-weight: bold;
	color: white;
}
#totalview{
	width: 18%;
	position: relative;
	left: 80%;
	font-weight: bold;
	color: white;
}
#totalview > p{
	font-weight: bold;
	color: white;
}
#movie1{
    color: aqua;
    text-align: center;
    margin-top: 400px;
    margin-left: 20px;
    width: 40%;
    height: 75px;
}
#moviecontent > div{
    margin: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#moviecontent > div >p{
	font-weight: bold;
}
#movietitle{
    float: left;
    height: 75px;
    width: 50%;
}
#actor{
	
}
#movieopen{
    float: left;
    width: 26%;
    height: 75px;
}
#moviesummary{
    float: left;
    width: 70%;
    height: 150px;
}
#genre{
	
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: black;
		color: #5b5b5b;
		line-height: 1.85em;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	input, textarea, select {
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #483949;
		line-height: 1.25em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border-bottom-color: transparent;
	}

/* Container */

	.container {
		max-width: 100%;
		width: 1400px;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 960px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 840px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}

/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

		section.special > header, section.special > footer, article.special > header, article.special > footer {
			text-align: center;
		}

	header {
		margin: 0 0 1em 0;
	}

		header > p {
			display: block;
			font-size: 1.5em;
			margin: 1em 0 2em 0;
			line-height: 1.5em;
			text-align: inherit;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Image */

	.image {
		position: relative;
		display: inline-block;
		border: 0;
		outline: 0;
	}

		.image img {
			display: block;
			width: 100%;
			height: 497.28px;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 4em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Carousel */

	.carousel {
		position: relative;
		overflow: hidden;
		padding: 2em 0 2em 0;
		margin-bottom: 0;
	}

		.carousel .forward, .carousel .backward {
			position: absolute;
			top: 40%;
			width: 6em;
			height: 21em;
			margin-top: -10em;
			cursor: pointer;
		}

			.carousel .forward:before, .carousel .backward:before {
				content: '';
				display: block;
				width: 6em;
				height: 6em;				border-radius: 100%;
				background-color: rgba(72, 57, 73, 0.5);
				position: absolute;
				top: 50%;
				margin-top: -3em;
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-o-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
			}

			.carousel .forward:after, .carousel .backward:after {
				content: '';
				width: 3em;
				height: 3em;
				position: absolute;
				top: 50%;
				margin: -1.5em 0 0 0;
				background: url("../assets/css/images/arrow.svg") no-repeat center center;
			}

			.carousel .forward:hover:before, .carousel .backward:hover:before {
				background-color: rgba(239, 131, 118, 0.75);
			}

		.carousel .forward {
			right: 0;
		}

			.carousel .forward:before {
				right: -3em;
			}

			.carousel .forward:after {
				right: -0.25em;
			}

		.carousel .backward {
			left: 0;
		}

			.carousel .backward:before {
				left: -3em;
			}

			.carousel .backward:after {
				left: -0.25em;
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
			}

		.carousel .reel {
			white-space: nowrap;
			position: relative;
			-webkit-overflow-scrolling: touch;
			padding: 0 2em 0 2em;
		}

		.carousel article {
			display: inline-block;
			width: 18em;
			text-align: center;
			padding: 0 1em 3em 1em;
			margin: 0 2em 0 0;
			white-space: normal;
			opacity: 1.0;
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
		}

			.carousel article.loading {
				opacity: 0;
			}

			.carousel article .image {
				position: relative;
				left: -1em;
				top: 0;
				width: auto;
				margin-right: -2em;
				margin-bottom: 3em;
			}

			.carousel article p {
				text-align: center;
			}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 14pt;
				line-height: 1.75em;
			}

		/* Carousel */

			.carousel {
				padding: 1.5em 0 1.5em 0;
			}

				.carousel .reel {
					padding: 0 1.5em 0 1.5em;
				}

				.carousel article {
					width: 18em;
					margin: 0 1.25em 0 0;
				}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
				line-height: 1.5em;
			}

		/* Wrapper */

			.wrapper {
				padding-left: 2em;
				padding-right: 2em;
			}

		/* Header */

			#header {
				background-attachment: scroll;
			}

				#header .inner {
					padding-left: 2em;
					padding-right: 2em;
				}

		/* Banner */

			#banner {
				padding-left: 2em;
				padding-right: 2em;
			}

		/* Footer */

			#footer {
				padding-left: 2em;
				padding-right: 2em;
			}

	}