@charset "UTF-8";

legend {
  font-weight: bold;
}
.wrap {
  width: 490px;
  margin: 0 auto;
  padding-top: 45px;
}
body {
  background-color: black;
}
input {
  box-sizing: border-box;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  vertical-align: middle;
}
th {
  text-align: left;
  width: 150px;
}
th::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 1px;
  height: 14px;
}
th,
td {
  padding: 7px;
}
td {
  width: 370px;
}
input[type="text"],
input[type="password"] {
  padding: 10px 15px 10px 10px;
  border: 1px solid #ccc;
  width: 250px;
}
#userphone , #userNum {
     padding: 10px 15px 10px 10px;
  border: 1px solid #ccc;
  width: 250px;
}
input:focus {
  outline: none;
  border: 1px solid red;
}

td > input[type="text"] + input[type="button"]{
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
input[type="submit"] {
   margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
.gender_area > td {
  font-size: 16px;
}
#left_area{
	width:40%;
	height: 80%;
}
#right_area{
	width: 40%;
}
#mypage_img{
	width:296.5px;
}
#uploadfile{
	float: right;
	position: absolute;
	left: 31.5%;
	top: 48%;
}
#modify{
	float: right;
	position: absolute;
	left: 36.5%;
	top: 43%;
}
#userphoto{
	width: 296.5px;
	background-size: contain;
}
#all {
  width: 1500px;
  height: 80%;
  color: white;
  margin: 0 auto;
  display : flex;
  justify-content: space-around;
}
.btn {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
input[type="button"] ,input[type="file"]{
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
.filebox{
	width: 80px;
	height: 34px;
	position: absolute;
	left: 32%;
	top: 43%;
}
.filebox label {
  display: inline-block;
  padding: .344em .938em;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  line-height: normal;
  vertical-align: middle;
  background-color: red;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.filebox label:hover {
  background-color: black;
}

.filebox label:active {
  background-color: black;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.btn_right > input[type="button"] {
  float: right;
  margin-right: 20px;
}
h2{
    text-align:center;
}
fieldset{
    border: 1px solid red; 
    width: 500px;
}
input[type="text"]{
    color : white;
}
#userpone{
   margin-right: 10px;
   width: 80px;
}