@charset "UTF-8";

legend {
  font-weight: bold;
}
h2{
    margin-top: 200px;
}
body {
  background-color: black;
}
input {
  box-sizing: border-box;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  vertical-align: middle;
}
th {
  text-align: left;
  width: 150px;
}
th::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 1px;
  height: 14px;
}
th,
td {
  padding: 7px;
}
td {
  width: 370px;
}
input[type="text"],
input[type="password"] {
  padding: 10px 15px 10px 10px;
  border: 1px solid #ccc;
  width: 250px;
}
input:focus {
  outline: none;
  border: 1px solid red;
}

td > input[type="text"] + input[type="button"] {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
.gender_area > td {
  font-size: 16px;
}
input[type="submit"] {
  margin: 0 auto;
  padding: 10px 10px;
  margin-left: 40px;
  background-color: rgb(0, 200, 80);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 400px;
}
#all {
  width: 530px;
  height: 100%;
  color: white;
  margin: 0 auto;
}
.btn {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
input[type="button"] {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 80px;
}
.btn_right > input[type="button"] {
  float: right;
  margin-right: 20px;
}
h2{
    text-align:center;
}
fieldset{
    border: 1px solid red; 
    width: 500px;
}
input[type="text"]{
    color : white;
}
input[type="submit"] {
    margin-left: 10px;
    padding: 8px 10px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 80px;
  }
